<div class="box" *ngFor="let watchable of watchables">
  <article class="media">
    <div class="media-left poster">
      <figure class="image is-3by4 is-fullwidth">
        <img src="{{ watchable.posterUrl }}" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p class="title is-3">
          <strong>{{ watchable.title }} ({{ watchable.year }}) </strong>
        </p>

        <p class="subtitle is-6">
          {{ watchable.genre }}
          <br />
          {{ watchable.runtime }}
        </p>
      </div>

      <p>
        {{ watchable.plotSummary }}
      </p>

      <div *ngIf="watchable.userVotes.length"></div>
    </div>
    <div class="media-right">
      <p>
        People who want to watch this:
      </p>
      <div class="vote-list">
      <p class="no-votes-text" *ngIf="!watchable.userVotes.length">
        Nobody voted for this yet.
      </p>
      <p class="vote" *ngFor="let vote of watchable.userVotes">
       <i class="icon gg-profile"></i> {{vote.user.name}}: {{vote.votes}}
      </p>
      <p class="vote" *ngFor="let vote of watchable.userVotes">
        <i class="icon gg-profile"></i> {{vote.user.name}}: {{vote.votes}}
       </p>
      </div>
      <p class="total-votes">
        Total: {{ getTotal(watchable.userVotes) }}
      </p>
    </div>
  </article>
</div>

<ng-template #noVotes>
  <p>
    Nobody indicated they want to watch it yet.
  </p>
</ng-template>

