@import url('https://css.gg/profile.css');

.poster {
  width: 80px;
}

.subtitle {
  color: rgb(151, 151, 151)
}

.media-content {
  border-right:1px solid #000;
  padding-right: 20px
}

.vote {
  display: flex;
}

.vote-list p:first-child {
  margin-top: 15px;
}

.vote-list p:last-child {
  margin-bottom: 15px;
}

.gg-profile {
  margin-right: 10px;
}
