<div class="content" *ngIf="users.length">
  <p>Users with access to the list:</p>

  <div class="user-container" *ngFor="let user of users">
    <i class="icon gg-profile"></i>
    <span class="user">
      {{ user.name }}
    </span>
    <button
      class="remove-user-button button is-danger is-outlined is-small"
      [disabled]="removeUserButtonDisabled"
      (click)="deleteUser(user.name)"
    >
      Remove User
    </button>
  </div>
  <div class="media">
    <div class="user-controls media-left">
      <form [formGroup]="addUserFormGroup">
        <input
          class="username-input input is-rounded"
          required
          formControlName="username"
          autocomplete="off"
        />
        <button
          type="submit"
          class="button is-primary is-outlined"
          [disabled]="
            addUserButtonDisabled ||
            (addUserFormGroup.touched && addUserFormGroup.invalid)
          "
          (click)="addUser()"
        >
          Invite User
        </button>
        <p
          *ngIf="addUserFormGroup.touched && addUserFormGroup.invalid"
          class="help is-danger"
        >
          Username is required.
        </p>
      </form>
    </div>
    <div class="media-content"></div>
    <div class="media-right">
      <button class="button is-danger is-outlined">Delete List</button>
    </div>
  </div>
</div>
