.user-container {
  display: grid;
  grid-template-columns: 3% 20% 10% 65%;
  margin-bottom: 15px;
}

.gg-profile {
  margin-right: 10px;
}

.button {
  margin-right: 10px
}

.input {
  margin-bottom: 10px
}

.media {
  align-items: flex-end;
}
